In [2]:
import pandas as pd

data = pd.read_csv(r'c:\Users\Vishwas\Documents\fabricated_real_cgm.csv')

In [3]:
data

   CGM_DeviceID          DateTime  Glucose_mg_ml
0     VZCGM0001  01-09-2024 00:00          136.0
1     VZCGM0001  01-09-2024 00:15          132.0
2     VZCGM0001  01-09-2024 00:30          136.0
3     VZCGM0001  01-09-2024 00:45          130.0
4     VZCGM0001  01-09-2024 01:00          127.0
..          ...               ...            ...
91    VZCGM0001  01-09-2024 22:45          104.3
92    VZCGM0001  01-09-2024 23:00          114.8
93    VZCGM0001  01-09-2024 23:15          124.2
94    VZCGM0001  01-09-2024 23:30          118.6
95    VZCGM0001  01-09-2024 23:45          129.2

[96 rows x 3 columns]

In [6]:
from datetime import datetime
import json
result = []
for _, row in data.iterrows():
    # iso_datetime = datetime.strptime(row['DateTime'], "%d-%m-%Y %H:%M").isoformat() + ".000Z"
    
    record = {
        "glucose_reading": row['Glucose_mg_ml'],
        "glucose_uom": "mg/dL",
        "cgm_device_id": row["CGM_DeviceID"],
        "reading_date_time": row['DateTime']
    }
    result.append(record)

In [8]:
json_output = json.dumps(result, indent=4)

In [9]:
with open(r"c:\Users\Vishwas\Documents\cgm_fabricated.json", "w") as outfile:
    outfile.write(json_output)

In [12]:
df = pd.read_csv(r"c:\Users\Vishwas\Documents\fabricated_real_food.csv")

In [13]:
df.columns

Index(['Meal Type', 'Meal Date', 'Meal Time', 'Name of the Food', 'Quantity',
       'Portion', 'Energy (Kcal)', 'Protein (g)', 'Carbohydrate (g)',
       'Fiber (g)', 'Fat (g)'],
      dtype='object')

In [18]:
df['Meal Type'] = df.iloc[:, 0].fillna(method='ffill')  # First column contains meal types
df['Meal Date'] = df.iloc[:, 1].fillna(method='ffill')       # Second column contains dates
df['Meal Time'] = df.iloc[:, 2].fillna(method='ffill')       # Third column contains times

cols = ['Meal Type', 'Meal Date', 'Meal Time'] + [col for col in df.columns if col not in ['Meal Type', 'Meal Date', 'Meal Time']]
df_restructured = df[cols]

C:\Users\Vishwas\AppData\Local\Temp\ipykernel_20952\434418584.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Meal Type'] = df.iloc[:, 0].fillna(method='ffill')  # First column contains meal types
C:\Users\Vishwas\AppData\Local\Temp\ipykernel_20952\434418584.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Meal Date'] = df.iloc[:, 1].fillna(method='ffill')       # Second column contains dates
C:\Users\Vishwas\AppData\Local\Temp\ipykernel_20952\434418584.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Meal Time'] = df.iloc[:, 2].fillna(method='ffill')       # Third column contains times

In [20]:
df_restructured.head()

,Meal Type,Meal Date,Meal Time,Name of the Food,Quantity,Portion,Energy (Kcal),Protein (g),Carbohydrate (g),Fiber (g),Fat (g)
0,Breakfast,09-01-2024,08:30 AM,Idli,2.0,Piece,143.01,4.35,29.05,1.89,0.68
1,Breakfast,09-01-2024,08:30 AM,Vada,1.0,Piece,175.03,4.84,10.70,2.50,12.25
2,Breakfast,09-01-2024,08:30 AM,Sambar,1.5,small cup,140.82,5.18,19.70,4.13,4.23
3,Snack,09-01-2024,10:30 AM,Tea,1.0,Teacup,101.45,3.58,12.64,0.00,4.06
4,Snack,09-01-2024,10:30 AM,Marie light biscuit,2.0,Piece,45.70,0.94,7.40,0.00,1.37

In [26]:
def convert_to_24hr(time_str):
    if pd.isna(time_str):
        return time_str
    try:
        # Parse the time string and convert to 24-hour format
        return datetime.strptime(time_str, '%I:%M %p').strftime('%H:%M')
    except:
        return time_str

df_restructured['time_24hr'] = df_restructured['Meal Time'].apply(convert_to_24hr)

In [28]:
df_restructured.head()

,Meal Type,Meal Date,Meal Time,Name of the Food,Quantity,Portion,Energy (Kcal),Protein (g),Carbohydrate (g),Fiber (g),Fat (g),time_24hr
0,Breakfast,09-01-2024,08:30 AM,Idli,2.0,Piece,143.01,4.35,29.05,1.89,0.68,08:30
1,Breakfast,09-01-2024,08:30 AM,Vada,1.0,Piece,175.03,4.84,10.70,2.50,12.25,08:30
2,Breakfast,09-01-2024,08:30 AM,Sambar,1.5,small cup,140.82,5.18,19.70,4.13,4.23,08:30
3,Snack,09-01-2024,10:30 AM,Tea,1.0,Teacup,101.45,3.58,12.64,0.00,4.06,10:30
4,Snack,09-01-2024,10:30 AM,Marie light biscuit,2.0,Piece,45.70,0.94,7.40,0.00,1.37,10:30

In [32]:
result = []
for _, row in df_restructured.iterrows():
    # iso_datetime = datetime.strptime(row['DateTime'], "%d-%m-%Y %H:%M").isoformat() + ".000Z"
    
    record = {
        "mealType": row["Meal Type"],
        "mealTime": "01-09-2024" + " "+row["time_24hr"],
        "foodName": row["Name of the Food"],
        "nutrition": {
             "Protein": str(row["Protein (g)"]) +" "+"g",
             "Energy": str(row["Energy (Kcal)"]) +" "+"Kcal",
             "Carbohydrate": str(row["Carbohydrate (g)"]) +" "+"g",
             "Fiber": str(row["Fiber (g)"]) +" "+"g"
             }
    }
    result.append(record)

In [33]:
result

[{'mealType': 'Breakfast',
  'mealTime': '01-09-2024 08:30',
  'foodName': 'Idli ',
  'nutrition': {'Protein': '4.35 g',
   'Energy': '143.01 Kcal',
   'Carbohydrate': '29.05 g',
   'Fiber': '1.89 g'}},
 {'mealType': 'Breakfast',
  'mealTime': '01-09-2024 08:30',
  'foodName': 'Vada',
  'nutrition': {'Protein': '4.84 g',
   'Energy': '175.03 Kcal',
   'Carbohydrate': '10.7 g',
   'Fiber': '2.5 g'}},
 {'mealType': 'Breakfast',
  'mealTime': '01-09-2024 08:30',
  'foodName': 'Sambar',
  'nutrition': {'Protein': '5.18 g',
   'Energy': '140.82 Kcal',
   'Carbohydrate': '19.7 g',
   'Fiber': '4.13 g'}},
 {'mealType': 'Snack',
  'mealTime': '01-09-2024 10:30',
  'foodName': 'Tea',
  'nutrition': {'Protein': '3.58 g',
   'Energy': '101.45 Kcal',
   'Carbohydrate': '12.64 g',
   'Fiber': '0.0 g'}},
 {'mealType': 'Snack',
  'mealTime': '01-09-2024 10:30',
  'foodName': 'Marie light biscuit',
  'nutrition': {'Protein': '0.94 g',
   'Energy': '45.7 Kcal',
   'Carbohydrate': '7.4 g',
   'Fiber': '0.0 g'}},
 {'mealType': 'Lunch',
  'mealTime': '01-09-2024 13:30',
  'foodName': 'White Rice ',
  'nutrition': {'Protein': '5.07 g',
   'Energy': '227.63 Kcal',
   'Carbohydrate': '49.98 g',
   'Fiber': '1.79 g'}},
 {'mealType': 'Lunch',
  'mealTime': '01-09-2024 13:30',
  'foodName': 'Drumstick sambar',
  'nutrition': {'Protein': '5.18 g',
   'Energy': '140.82 Kcal',
   'Carbohydrate': '19.7 g',
   'Fiber': '4.13 g'}},
 {'mealType': 'Lunch',
  'mealTime': '01-09-2024 13:30',
  'foodName': 'Chow chow poriyal',
  'nutrition': {'Protein': '1.29 g',
   'Energy': '29.84 Kcal',
   'Carbohydrate': '5.03 g',
   'Fiber': '2.02 g'}},
 {'mealType': 'Evening',
  'mealTime': '01-09-2024 16:00',
  'foodName': 'Filter Coffee',
  'nutrition': {'Protein': '4.26 g',
   'Energy': '118.06 Kcal',
   'Carbohydrate': '12.91 g',
   'Fiber': '0.0 g'}},
 {'mealType': 'Snack',
  'mealTime': '01-09-2024 18:00',
  'foodName': 'Masala Vada',
  'nutrition': {'Protein': '2.48 g',
   'Energy': '81.41 Kcal',
   'Carbohydrate': '6.16 g',
   'Fiber': '2.09 g'}},
 {'mealType': 'Dinner',
  'mealTime': '01-09-2024 21:00',
  'foodName': 'Chapati',
  'nutrition': {'Protein': '6.27 g',
   'Energy': '239.25 Kcal',
   'Carbohydrate': '38.06 g',
   'Fiber': '6.74 g'}},
 {'mealType': 'Dinner',
  'mealTime': '01-09-2024 21:00',
  'foodName': 'Dal',
  'nutrition': {'Protein': '3.82 g',
   'Energy': '123.39 Kcal',
   'Carbohydrate': '9.95 g',
   'Fiber': '2.32 g'}},
 {'mealType': 'Bed time',
  'mealTime': '01-09-2024 23:30',
  'foodName': 'Buttermilk',
  'nutrition': {'Protein': '1.66 g',
   'Energy': '32.15 Kcal',
   'Carbohydrate': '1.61 g',
   'Fiber': '0.0 g'}}]

In [34]:
json_output = json.dumps(result, indent=4)
with open(r"c:\Users\Vishwas\Documents\food_fabricated.json", "w") as outfile:
    outfile.write(json_output)

In [6]:
import pandas as pd
df = pd.read_csv(r"c:\Users\Vishwas\Documents\fabricated_step.csv")

In [7]:
df

           Date Time  Steps
0   09-01-2024 00:00    0.0
1   09-01-2024 01:00    0.0
2   09-01-2024 02:00    0.0
3   09-01-2024 03:00    0.0
4   09-01-2024 04:00   10.0
5   09-01-2024 05:00   20.0
6   09-01-2024 06:00  124.0
7   09-01-2024 07:00   25.0
8   09-01-2024 08:00   10.0
9   09-01-2024 09:00   10.0
10  09-01-2024 10:00    5.0
11  09-01-2024 11:00   50.0
12  09-01-2024 12:00   55.0
13  09-01-2024 13:00    5.0
14  09-01-2024 14:00    5.0
15  09-01-2024 15:00    5.0
16  09-01-2024 16:00  226.0
17  09-01-2024 17:00   15.0
18  09-01-2024 18:00   20.0
19  09-01-2024 19:00   15.0
20  09-01-2024 20:00   10.0
21  09-01-2024 21:00    6.0
22  09-01-2024 22:00    0.0
23  09-01-2024 23:00    0.0
24               NaN    NaN